.friendList {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px 10px 30px;
  width: 500px;
  height: 140px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  list-style: none;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
